@media only screen and (max-width:1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 3%;
    }

    .row {
        padding: 0 2%;
    }
    .plan-box-2 ul li{
        font-size: 85%;
    }

    .cities-features {
        font-size: 95%;
    }
}
@media only screen and (max-width:1023px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 60px 0;
    }

    .logo {
        height: 40px;
    }

    .main-nav {
        margin-top: 10px;
    }

    .cities-features {
        font-size: 85%;
    }
    .icon-small {
        margin-right: 5px;
    }
}
@media only screen and (max-width:767px) {
    body {
        font-size: 14px;
    }
    .steps-box:first-child {
        text-align: center;
    }
    .logo {
        height: 0px;
    }
    .hero-text-box {
        width: 100%;
        padding: 5% 3%;
    }
    .works-step div {
        padding: 8px;
    }

    .box {
        margin-top: 10px;
    }

    .box h3 {
        text-align: center;
        font-size: 140%;
    }

    .icon-big {
        text-align: center;
    }

    .steps-box {
        font-size: 120%;
    }

    .plan-box {
        width: 90%;
        margin-left: 5%;
    }

    .plan-box div {
        border-top: 1px solid #e3e3e3;
    }

    .plan-box-2 ul li {
        font-size: 110%;
    }

    .cities-features {
        font-size: 120%;
    }

    .form-submit{
        text-align: center;
    }
    .social-links {
        width: 70%;
    }
}
@media only screen and (max-width:363px) {
    body {
        font-size: 12px;
    }

    .main-nav {
        text-align: center;
        margin-top: 15px;
    }

    .main-nav li {
        margin: 15px;
        font-size: 120%;
    }

}