/*------------ColorCode-----------
    Healthy green = #94ba22dc
    Carrot = #e67e22
*/
:root {
    --theme_color: #e67e22;
  }
  

/*-----------Basic Setup----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: rgb(27, 27, 27);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*-----------Headings----------*/

h1,h2,h3 {
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
    color: floralwhite;
    font-size: 220%;
    word-spacing: 2px;
    letter-spacing: 2px;
}

h2 {
    font-size: 180%;
    word-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    color: var(--theme_color);
}

h2::after{
    display: block;
    height: 2px;
    background-color: var(--theme_color);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*-----------Paragraph----------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*-----------Icons----------*/

.icon-big {
    font-size: 350%;
    display: block;
    color: var(--theme_color);
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: var(--theme_color);
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-right: 10px;
}

/*------------------Links-----------------*/

a:link,
a:visited {
    color: var(--theme_color);
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--theme_color);
    transition: border-bottom 0.2s var(--theme_color) 0.2s;
}

a:hover,
a:active {
    color: slategray;
    border-bottom: 1px solid transparent;

}

/*-----------Reusable Components----------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/*-----------Header----------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url(img/hero-orange.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 15px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 15px;
}

.main-nav li{
    display: inline-block;
    margin: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 5px;
    text-transform: uppercase;
    font-size: 90%;
    text-decoration: none;
    color: floralwhite;
    border-bottom: 2px transparent;
    transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
    padding: 5px;
    border-bottom: var(--theme_color) 2px solid;
}


/*-----------Buttons----------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border: 2px solid var(--theme_color);
    border-radius: 200px;
    color: var(--theme_color);
    margin-right: 10px;
}

.btn:hover,
.btn:active,
input[type=submit] {
    background-color: var(--theme_color);
    color: floralwhite;
    transition: 0.5s;
}

.btn-full:link,
.btn-full:visited {
    background-color: var(--theme_color);
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border: 2px solid var(--theme_color);
    border-radius: 200px;
    color: floralwhite;
    margin-right: 10px;
}

.btn-full:hover,
.btn-full:active {
    background-color: var(--theme_color);
    color: floralwhite;
    transition: 0.5s;
}

/*---------------MealsSection------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;

}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s;
}

.meal-photo img:hover {
    transform: scale(1.05);
    opacity: 1;
    transition: opacity 0.5s;
}

/*---------------HowItWorksSection------------*/


.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;

}
.steps-box:last-child {
    padding-left: 3%;
    margin-top: 60px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step div {
    color: var(--theme_color);
    border: 2px solid var(--theme_color);
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    float: left;
    font-size: 120%;
    margin-right: 25px;

}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    
}

.btn-app:link,
.btn-app:visited {
    border-bottom: none;
}

/*---------------CitiesSection------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-features {
    margin-bottom: 5px;
}

/*---------------TestimonialSection------------*/

.section-testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: floralwhite;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

blockquote::before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: 0px;
    left: -3px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
}

/*---------------SignUpSection------------*/

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: white;
    border-radius: 5px;
    width: 95%;
    margin-left: 5%;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.plan-box div:last-child{
    text-align: center;
    border: 0;
}

.plan-type {
    color: black;
    text-align: center;
}
.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: var(--theme_color);
}
.plan-price span {
    font-size: 30%;
    font-weight: 300;
}
.plan-price-meal {
    font-size: 90%;
    margin-bottom: 10px;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/*---------------ContactUsSection------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #bebebe;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus{outline: none;}

/*---------------FooterSection------------*/

footer {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
}

.footer-nav {
    list-style: none;
    float: left;
    padding-top: 5px;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: rgba(240, 240, 240, 0.5);
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: floralwhite;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 150%;
}

.ion-social-facebook:hover,
.ion-social-facebook:active {
    color: rgb(66, 103, 178);
}
.ion-social-twitter:hover,
.ion-social-twitter:active {
    color: rgb(29, 161, 242);
}
.ion-social-googleplus:hover,
.ion-social-googleplus:active {
    color: rgb(219,68,55);
}
.ion-social-instagram:hover,
.ion-social-instagram:active {
    color: rgb(193,53,132);
}

footer p {
    color: rgba(240, 240, 240, 0.5);
    font-size: 90%;
    text-align: center;
}

